<div class="controlsContainer">
	<div class="controls">
		<p class="font-1_5em">Controls:</p>
		<button class= "controls-component" ng-click="todosList.createNew()">New todo</button>
		<button class= "controls-component" ng-click="todosList.deleteAll()">Delete all</button> 
		<button class= "controls-component" ng-click="todosList.deleteDone()">Delete all done</button> 
		<p class="font-1_5em">Order by:</p> 
		<select class= "controls-component" ng-model = "todosList.order">
			<option value="-updated_at">Newest</option>
			<option value="updated_at">Oldest</option>
			<option value="-done">Done</option>
			<option value="done">Not done</option>
		</select>
		<p class="font-1_5em">Search:</p> 
		<input type="text"class="search controls-component" ng-model= "todosList.query" placeholder="Search"/>
	</div>
</div>

<div class="content">
	<div class="newFormDiv" ng-show="todosList.createNewFlag" >
		<p class="font-2em">Create new:</p>
		<form name="newForm" ng-submit="newForm.$valid && todosList.saveTodo(newTodo)" novalidate>
			<textarea name="title" placeholder="Enter title" ng-model="newTodo.title" ng-required=true></textarea>
			<span ng-show="newForm.title.$touched && newForm.title.$invalid">Title is required.</span>
			<textarea name="description" placeholder="Enter description" ng-model="newTodo.description" ng-required=true></textarea>
			<span ng-show="newForm.description.$touched && newForm.description.$invalid">Description is required.</span>
			<section>
				<button ng-click="todosList.cancelCreate(newTodo)">Cancel</button>
				<input type="submit" value="Save" />
			</section>			
		</form>		
	</div>
	
	<div class="editFormDiv"ng-hide="todosList.notEdit">
		<form name="editForm" class="userInputForm" ng-submit="editForm.$valid && todosList.updateTodoForm(todosList.todoToEdit)" novalidate>
			<section>
				<p class = "font-2em">Done:</p>
				<input class="checkboxClass" type="checkbox" ng-model="todosList.todoToEdit.done" />
			</section>
			<section>
				<p class = "font-2em">Title:</p>
			<textarea ng-model="todosList.todoToEdit.title" ng-required=true></textarea>
			</section>
			<section>
				<p class = "font-2em">Description:</p>
			<textarea ng-model="todosList.todoToEdit.description" ng-required=true></textarea>
			</section>
			
			<section>
				<input type="submit" value="Done"/>
			</section>
		</form>	
	</div>
	
	<p class = "font-1_5em" ng-hide="todosList.todos.length">No todos</p
	<div class="tableOfTodos" ng-show = "todosList.notEdit" ng-hide="todosList.createNewFlag">
		<table>
			<thead>
				<th>Done?</th>
				<th>Title</th>
				<th>Description</th>
				<th class="createdAt">Created at</th>
				<th class="updatedAt">Updated at</th>
				<th>Controls</th>
				
			</thead>
			<tbody>
				<tr ng-repeat = "todo in todosList.todos | filter:todosList.query |orderBy: todosList.order">
					<td>
						<input type="checkbox" ng-model="todo.done" ng-click="todosList.updateTodo(todo)" class="checkboxClass"/> 							
					</td>
					<td>
						<p>{{todo.title}}</p>
					</td>
					<td>
						<p>{{todo.description}}</p>
					</td>
					
					<td class="createdAt">
						<p>{{todo.created_at | date: 'medium'}}</p>
					</td>
					<td class="updatedAt">
						<p>{{todo.updated_at | date: 'medium'}}</p>
					</td>
					<td>
						<button ng-click="todosList.deleteTodo(todo.id)">Delete todo</button>
						<button ng-click="todosList.toggleEdit(todo.id)">Edit todo</button>		
					</td>
				</tr>				
			</tbody>
		</table>	
	</div>
</div>

