<%= form_for(@todo) do |f|%>
	<div>
	<%= f.label :done%>
	<%= f.check_box :done%>	
	</div>
	<div>
  <%= f.label :title%>
  <%= f.text_field :title%>
  </div>
  <div>
  <%= f.label :description%>
  <%= f.text_area :description%>
  </div>
  <%= f.submit "Update"%>
  <%= link_to "Back", todos_path%>
<% end %>
