<h1>ToDo</h1>
<% if @todos.empty? %>
<p>No Todos</p>
<% end %>
<table>
	<thead>
		<tr>
			<th>Done</th>
			<th>Title</th>
			<th colspan="6"></th>
		</tr>
	</thead>
	
	<tbody>
		<%@todos.each do |todo| %>
			<tr>
				<td><%= todo.done %></td>
				<td><%= todo.title %></td>
				<td><%= link_to "Show", todo_path(todo)%></td>
				<td><%= link_to "Edit", edit_todo_path(todo)%></td>
				<td><%= link_to "Delete", todo, method: :delete, data: {confirm: "Are you sure?"}%></td>

			</tr>
		<% end %>
	</tbody>
</table>

<%= button_to('Create new ToDo', new_todo_path, method: "get") %>
<%= button_to('Delete all done', { :controller => :todos, :action => 'destroy_all_done' }, method: :delete) %>
<%= button_to('Delete all ToDo\'s', { :controller => :todos, :action => 'destroy_all' }, method: :delete) %>
