<%= form_for(@todo) do |f|%>
<% if @todo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@todo.errors.count, "error") %> prohibited this todo from being saved:</h2>

      <ul>
      <% @todo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div>
  <%= f.label :title%>
  <%= f.text_field :title%>
  </div>
  <div>
  <%= f.label :description%>
  <%= f.text_area :description%>
  </div>
  <%= f.submit "Create todo"%>
<% end %>
