<table cellspacing="10">
	<thead>
		<th>Done?</th>
		<th>Title</th>
		<th>Description</th>
		
	</thead>
	<tbody>
		<td><%= @todo.done %></td>
		<td><%= @todo.title%></td>
		<td><%= @todo.description%></td>
	</tbody>
</table>
<%= link_to "Edit", edit_todo_path%>
<%= link_to "Back", todos_path%>