/* universal css*/
.header {
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto; 
   	z-index: 1;
   	background-color: green;
   	border-bottom: 1px solid black; 
   	box-sizing: border-box;
}

.font-1_5em{
	font-size: 1.5em;
}

.font-2em{
	font-size: 2em;
}

.todoContent{
	width: 100%;
	height: 100%;
	padding-top: 100px;
	box-sizing: border-box;
}
body{
	padding:0;
	margin: 0;
	background-color: green;  
}

.mainHeading{
	text-align: center;
}

.controls-component{
	display: block;
	width: 90%;
}

.controls
{
	padding: 1%;
}
.controlsContainer{
	 box-sizing: border-box;
	background-color: red;
	width: 10%;
	border: 1px solid black;
	height: 100%;
	float: left;
	position: fixed;
}


.content
{
	float: left;
	margin-left: 11%;
	width: 88%;
	margin-top: 1%;
	
}

.ng-dirty .ng-invalid
{
	background-color: #cc0000;
}

.ng-dirty .ng-valid{
	background-color: #99ff66;
}

.newFormDiv textarea, .editFormDiv textarea{
		width: 50%;
		height: 5em;
		resize: none;
	}
	
.newFormDiv, .editFormDiv{
	margin-bottom: 1%;
}

table{
	border-collapse: collapse;
	width: 100%;
	text-align: center;	
}

table, th, td{
	border: solid 2px black;
}

@media only screen and (max-width: 1919px){
   .controlsContainer{
		width: 7em;	
		height: 100%;
		float: left;
		position: fixed;
	}

	.content
	{
		float: left;
		margin-left: 7em;
		width: 90%;
	
	}
	
	.newFormDiv textarea, .editFormDiv textarea{
		width: 50%;
		resize: none;
	}

}
@media only screen and (max-width: 1023px){
	
	.controls .controls-component, p, .newFormDiv button, .editFormDiv button, .newFormDiv p, .editFormDiv p, input[type="submit"]
	{	
		font-size: 2em;
	}
	td p, td button
	{
		font-size: 1.5em;
	}
	
	.controlsContainer{
		background-color: red;
		position: relative;
		width: 100%;
		height: auto;
		left: 0;
	}
	
	.header{
		position: absolute;
	}

	.content
	{
		position: relative;
		margin-left: 0;
		width: 100%;
	}
	
	.controls p, .controls .control-text{
		display: none;		
	}
	
	.controls .controls-component{
	 box-sizing: border-box;
		width: 100%;
		height: 100%;
		padding: 2%;		
	}
	
	.controls .search
	{
		box-sizing:border-box;
		width: 100%;		
		padding: 2% 0 2% 0;		
		font-size: 2.6em;
	}
	
	.createdAt, .updatedAt{
		display: none;
	}
	
	table, th, td{
	border: solid 2px black;	
	font-size: 1.2em;
	}
	
	table{
		width: 100%;
	}
	
	td p{
	font-size: 1.5em;
	}

	
	td button{
		display: block;
		width: 100%;		
	}
	
	.checkboxClass{
		width: 2em;
		height: 2em;
	}

	
	
	.newFormDiv textarea, .editFormDiv textarea{
		width: 100%;
		font-size: 3.5em;
	}
	
	.newFormDiv button, .newFormDiv input[type="submit"], .editFormDiv button, .editFormDiv input[type="submit"]{
		display: block;
		width: 100%;
		padding: 2%;
		box-sizing: border-box; 
	}
}
