<!DOCTYPE html>
<html ng-app="todoApp" ng-strict-di>
<head>
	<title>ToDo</title>
	<%= stylesheet_link_tag    'application', media: 'all' %>
 
	<%= csrf_meta_tags %>
</head>
<body>

	<div class="header">
		<h1 class="mainHeading">This will display the todos</h1>
	</div>
	<div class = "todoContent">
		<list-of-todo></list-of-todo>
	</div>
	
		
	
		
	
	
	
	
  	<%= javascript_include_tag 'application' %>
</body>
</html>
